<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-fields">
            <div class="charline">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'SWADE.Name'}}" />
                </h1>
                {{#if actor.flags.swade.enableConviction}}
                <div class="conviction">
                    <strong>{{localize "SWADE.Conv"}}</strong>
                    <div class="convction-toggle">
                        {{#if actor.flags.swade.convictionReady}}
                        <a><i class="fas fa-fire-alt fa-2x"></i></a>
                        {{else}}
                        <a><i class="fas fa-times fa-2x"></i></a>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
            <section class="header-stats">
                <div class="flexrow">
                    <div class="form-group">
                        <input type="checkbox" name="data.status.isShaken" id="data.status.isShaken-{{actor._id}}"
                            {{checked actor.data.status.isShaken}}>
                        <label for="data.status.isShaken-{{actor._id}}">{{localize "SWADE.Shaken"}}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="data.status.isDistracted"
                            id="data.status.isDistracted-{{actor._id}}" {{checked actor.data.status.isDistracted}}>
                        <label for="data.status.isDistracted-{{actor._id}}">{{localize "SWADE.Distr"}}</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="data.status.isVulnerable"
                            id="data.status.isVulnerable-{{actor._id}}" {{checked actor.data.status.isVulnerable}}>
                        <label for="data.status.isVulnerable-{{actor._id}}">{{localize "SWADE.Vuln"}}</label>
                    </div>
                </div>
                <div class="flexrow">
                    <div class="form-group">
                        <label for="xp-input">{{localize "SWADE.Adv"}}</label>
                        <input name="data.advances.value" id="xp-input" type="text" value="{{data.advances.value}}"
                            data-dtype="Number" placeholder="0" />
                    </div>
                    <div class="form-group">
                        <label for="pace">{{localize "SWADE.Pace"}}</label>
                        <input id="pace" name="data.stats.speed.value" type="text" value="{{data.stats.speed.value}}"
                            placeholder="0" data-dtype="Number" />
                    </div>
                    <div class="form-group">
                        <label for="parry">{{localize "SWADE.Parry"}}</label>
                        <input id="parry" name="data.stats.parry.value" value="{{data.stats.parry.value}}" type="text"
                            placeholder="0" data-dtype="Number" />
                    </div>
                    <div class="form-group">
                        <label for="toughness">{{localize "SWADE.Tough"}}</label>
                        <input id="toughness" name="data.stats.toughness.value" type="text"
                            value="{{data.stats.toughness.value}}" placeholder="0" data-dtype="String" />
                    </div>
                </div>
            </section>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="flexrow tabs" data-group="primary">
        <a class="item" data-tab="summary">{{localize "SWADE.Summary"}}</a>
        <a class="item" data-tab="edges">{{localize "SWADE.Edges"}}</a>
        <a class="item" data-tab="inventory">{{localize "SWADE.Inv"}}</a>
        {{#if actor.flags.swade.hasArcaneBackground}}
        <a class="item" data-tab="powers">{{localize "SWADE.Pow"}}</a>
        {{/if}}
        <a class="item" data-tab="description">{{localize "SWADE.Desc"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Summary Tab --}}
        <div class="tab active" data-group="primary" data-tab="summary">
            {{> "systems/swade/templates/actors/partials/summary-tab.html"}}
        </div>

        {{!-- Edges/Hindrances Tab --}}
        <div class="tab edges" data-group="primary" data-tab="edges">
            {{> "systems/swade/templates/actors/partials/edges-tab.html"}}
        </div>

        {{!-- Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "systems/swade/templates/actors/partials/inventory-tab.html"}}
        </div>

        {{!-- Powers Tab --}}
        {{#if actor.flags.swade.hasArcaneBackground}}
        <div class="tab powers" data-group="primary" data-tab="powers">
            {{> "systems/swade/templates/actors/partials/powers-tab.html"}}
        </div>
        {{/if}}

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{> "systems/swade/templates/actors/partials/biography-tab.html"}}
        </div>
    </section>
</form>