<header class="item sheet-header" data-item-id="{{item._id}}">
    <div class=" profile-img-container">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="header-fields">
        <div class="itemline">
            <h1 class="itemname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'SWADE.Name'}}"
                    data-dtype="String" />
            </h1>
            <div class="item-controls">
                <a class="item-control item-delete" title="{{localize 'SWADE.Del'}}"><i
                        class="fas fa-trash fa-2x"></i></a>
            </div>
        </div>
    </div>
</header>