<form>
    <div class=form-group>
		<label for="hasLevelHeaded">{{localize "SWADE.HasLevelHeaded"}}</label>
        <input type="checkbox" name="hasLevelHeaded" id="hasLevelHeaded" {{checked hasLevelHeaded}}>
    </div>
    <div class=form-group>
		<label for="data.hasImpLevelHeaded">{{localize "SWADE.HasImpLevelHeaded"}}</label>
        <input type="checkbox" name="HasImpLevelHeaded" id="hasImpLevelHeaded" {{checked hasImpLevelHeaded}}>
    </div>
    <div class=form-group>
		<label for="hasHesitant">{{localize "SWADE.HasHesitant"}}</label>
        <input type="checkbox" name="hasHesitant" id="hasHesitant" {{checked hasHesitant}}>
    </div>
</form>
