<div class="flexrow">
    <span>{{localize "SWADE.CarryWeight"}} <span style="font-weight: bold;">{{inventoryWeight}} /
            {{maxCarryCapacity}}</span></span>
    <div class="currency">
        <label for="data.details.currency">{{localize "SWADE.Currency"}} </label>
        <input name="data.details.currency" type="text" value="{{data.details.currency}}"
            placeholder="{{localize 'SWADE.Currency'}}" data-dtype="Number" />
    </div>
</div>
<ol class="items-list">
    <li class="item-header">
        <div class="item-equipped">{{localize "SWADE.Eqd"}}</div>
        <div class="item-textname">{{localize "SWADE.Name"}}</div>
        <div class="item-quantity">{{localize "SWADE.Quantity"}}</div>
        <div class="item-weight">{{localize "SWADE.Weight"}}</div>
        <div class="item-controls"><a class="item-create" data-type="choice"><i class="fa fa-plus"></i></a></div>
    </li>
    {{#each data.owned.inventory as |item|}}
    <li class="item" data-item-id="{{item._id}}">
        {{#if item.data.equippable}}
        <a class="item-equipped">
            {{#if item.data.equipped}}
            <i class="fas fa-check"></i>
            {{else}}
            <i class="far fa-circle"></i>
            {{/if}}
        </a>
        {{/if}}
        <div class="item-name">
            <div class="item-img"><img src="{{item.img}}" title="{{item.name}}" /></div>
            <div class="item-textname">
                <a class="item-control item-edit" title="{{localize 'SWADE.Ed'}}">
                    {{item.name}}
                </a>
            </div>
        </div>
        <div class="item-quantity">{{item.data.quantity}}</div>
        <div class="item-weight">{{item.data.weight}}</div>
        <div class="item-controls flexrow">
            <a class="item-control item-delete" title="{{localize 'SWADE.Del'}}"><i class="fas fa-trash"></i></a>
        </div>
    </li>
    {{/each}}
</ol>