.swade.sheet.actor.character {
  .profile-img-container {
    width: 200px;
    max-width: 200px;
    height: 200px;
    margin-right: 2px;
  }

  .vitals {
    height: 72px;
    .bennies {
      i {
        padding-top: 24px;
      }
      .benny-tracker {
        input {
          @extend %standalone-input-field;
          text-align: center;
        }
        .bennies-current {
          font-size: 26px;
          height: 35px;
          border-bottom: $decorative-line;
        }
        .bennies-max {
          height: 20px;
        }
      }
    }

    .vitals-container {
      padding: 3px 0;

      .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        height: 16px;
        width: 100%;
        outline: none; /* Remove outline */
        opacity: 0.7;
        margin-bottom: 5px;
        cursor: pointer;

        &::-webkit-slider-thumb {
          position: relative;
          height: 20px;
          width: 20px;
          margin-top: -5px;
          background: $anthracite;
          border-radius: 50%;
          border: 2px solid darkgrey;
        }

        &::-webkit-slider-runnable-track {
          border: none;
          box-shadow: none;
          height: 10px;
        }

        &::-moz-range-thumb {
          position: relative;
          height: 20px;
          width: 20px;
          margin-top: -5px;
          background: $anthracite;
          border-radius: 50%;
          border: 2px solid darkgrey;
        }
      }

      .fatigue-slider {
        &::-webkit-slider-runnable-track {
          background: steelblue;
        }
      }

      .wound-slider {
        direction: rtl;
        &::-webkit-slider-runnable-track {
          background: #ff5349;
        }
      }
    }
  }

  // Summary
  .skills {
    .skills-list {
      .skill-label {
        flex: 2;
        i {
          display: none;
        }
        &:hover {
          i {
            display: inline-block;
          }
        }
      }
      .skill-value {
        flex: 1;
      }
      li {
        > * {
          margin: 0 3px;
          height: 28px;
          line-height: 24px;
          border-bottom: $decorative-line;
        }
        a.attribute-control {
          border: none;
        }
      }
    }
  }

  // Edges
  .edges {
    .edges-hindrances-list {
      margin: 5px 0;
      padding: 2px;
      .items-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        .item {
          height: 30px;
          line-height: 24px;
          padding: 3px 0;
          img {
            flex: 0 0 24px;
            margin-right: 5px;
            border: none;
          }
        }
        .item + .item {
          border-top: $decorative-line;
        }
        .item-name {
          margin: 0;
        }
        .item-controls {
          flex: 0 0 36px;
        }
      }
    }

    .description {
      margin: 5px 0;
      padding: 2px;
      .description-value {
        padding: 5px;
        margin-bottom: 5px;
      }
    }
  }

  // Inventory
  .inventory {
    margin: 3px 0;
    .currency {
      display: inline;
      input {
        width: auto;
      }
    }
    .items-list {
      list-style: none;
      margin: 7px 0;
      padding: 0;

      li {
        padding: 0 2px;
        display: grid;
        grid-template-columns: 1fr 6fr 2fr 2fr 1fr;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas: "item-equipped item-name item-quantity item-weight item-controls";
        align-items: center;
      }
      .item-header {
        @extend %header-field;
        padding: 0px;
        margin-bottom: 0px;
      }
      .item {
        line-height: 24px;
        border-bottom: 1px solid #bbb;
      }
      .item-equipped {
        grid-area: item-equipped;
        justify-self: center;
      }
      .item-name {
        display: grid;
        grid-template-columns: 0.5fr 6fr;
        grid-auto-rows: minmax(30px, auto);
        grid-template-areas: "item-img item-textname";
        align-items: center;
        grid-area: item-name;

        .item-textname {
          padding-left: 5px;
          grid-area: item-textname;
        }
        .item-img {
          grid-area: item-img;
          display: grid;
          justify-self: center;
          align-self: center;
          img {
            width: 24px;
            border: none;
          }
        }
      }
      .item-quantity {
        grid-area: item-quantity;
        justify-self: center;
      }
      .item-weight {
        grid-area: item-weight;
        justify-self: center;
      }
      .item-controls {
        grid-area: item-controls;
      }
    }
  }
  .powers {
    .header-field-add {
      line-height: 24px;
      margin-left: 5px;
    }
  }
}
