.swade.sheet.actor.npc {
  .extra-gear-card {
    border-bottom: $decorative-line;
    padding-bottom: 2px;
    margin-bottom: 2px;
    .stats {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .card-stat {
        flex-grow: 1;
        flex-basis: 140px;
      }
    }
  }
  .editor {
    min-height: 200px;
    height: 500px;
  }

  .vitals {
    .vitals-container {
      margin: 3px 3px;
    }
  }

  // Summary
  .traits {
    .skills-list {
      span {
        a {
          border-bottom: 1px dotted #293133;
        }
        border: 1px solid transparent;
      }
    }
  }
}
