<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    {{> "systems/swade/templates/items/partials/header-delete.html"}}
    <section class="sheet-body">
        <div class="form-group">
            <input type="checkbox" name="data.major" id="data.major" {{checked item.data.major}} data-dtype="Boolean">
            <label for="data.major">{{localize "SWADE.MajHind"}}</label>
        </div>
        <header class="header-field">
            <span>{{localize "SWADE.Desc"}}</span>
        </header>
        <div class="form-group">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>